<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lianghuawang.cottonfarmer">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lianghuawang.cottonfarmer.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- <activity android:name=".activity.home.cooperation.CooperativeOrganizationActivity"> -->
        <activity android:name=".StartPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomePageActivity" />
        <activity android:name=".AdvertisingPageActivity" />
        <activity android:name=".activity.my.SetUpActivity" />
        <activity android:name=".activity.my.bankcard.BankCardActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.my.TheBooksActivity" />
        <activity android:name=".activity.my.InsuranceActivity" />
        <activity android:name=".activity.my.ClaimCompensationActivity" />
        <activity android:name=".activity.my.LoanActivity" />
        <activity android:name=".mvp.module.login.LoginActivity" />
        <activity
            android:name=".activity.home.insurance.BuyInsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.insurance.InsuranceParticularsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.insurance.SignatureActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.home.insurance.InsuranceOrderActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".activity.home.insurance.PayInsuranceActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.home.agriculturalMaterials.AMActivity" />
        <activity android:name=".activity.home.IWantToBorrowMoneyActivity" />
        <activity android:name=".activity.home.CottonTradeActivity" />
        <activity android:name=".activity.home.cooperation.CooperativeOrganizationActivity" />
        <activity android:name=".activity.home.cooperation.LinkmanActivity" />
        <activity android:name=".activity.my.MyCreditActivity" />
        <activity android:name=".activity.my.mycredit.CreditIntroductionActivity" />
        <activity android:name=".mvp.module.register.RegisterActivity" />
        <activity android:name=".activity.my.ReceivingAddressActivity" />
        <activity android:name=".activity.my.PaymentPasswordSettingsActivity" />
        <activity android:name=".activity.my.HelpActivity" />
        <activity android:name=".activity.my.mycredit.PromotionOfCreditActivity" />
        <activity android:name=".activity.my.mycredit.AuthenticationActivity" />
        <activity android:name=".activity.my.mycredit.BankCardBindingActivity" />
        <activity android:name=".activity.my.personalinformation.PersonalInformationActivity" />
        <activity android:name=".activity.my.personalinformation.activity.EssentialInformationActivity" />
        <activity android:name=".activity.my.personalinformation.activity.PlantingInformationActivity" />
        <activity android:name=".activity.my.personalinformation.activity.ProofOfOwnershipActivity" />
        <activity android:name=".activity.my.personalinformation.activity.InsurancePurchaseRecordActivity" />
        <activity android:name=".activity.my.ReservationProgressActivity" />
        <activity android:name=".activity.my.ApplyForALoanActivity" />
        <activity android:name=".activity.my.mycredit.BankCardSMSVerification" />
        <activity android:name=".activity.my.mycredit.InvitingTheUnderwriterActivity" />
        <activity android:name=".activity.home.HotSaleInsuranceActivity" />
        <activity android:name=".activity.home.HotSaleOfAgriculturalCapitalActivity" />
        <activity android:name=".activity.home.news.HeadLineActivity"/>
        <activity android:name=".activity.my.personalinformation.RepaymentActivity" />
        <activity android:name=".activity.my.personalinformation.EarlyRepaymentActivity" />
        <activity android:name=".activity.my.personalinformation.StagingDetailActivity" />
        <activity android:name=".activity.my.personalinformation.DetailsOfPolicyActivity" />
        <activity android:name=".activity.home.insurance.InsuranceClausesActivity" />
        <activity android:name=".activity.my.personalinformation.SubmitACaseForSubmissionActivity" />
        <activity android:name=".activity.home.MyCottonOrderActivity" />
        <activity android:name=".activity.my.ClaimProgressActivity" />
        <activity android:name=".tools.view.ClipImageActivity" />
        <activity android:name=".GuideActivity" />
        <activity android:name=".activity.home.NewsActivity" />
        <activity android:name=".activity.home.WeatherActivity" />

        <!-- 地图的key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c86856446bc1f2eacc658a328c08d4c1">
        </meta-data>
        <service android:name="com.amap.api.location.APSService"></service>
        <receiver
            android:name=".receiver.JiGuangBroadcastReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <action android:name="android.intent.action.BOOT_COMPLETED" /> <!-- 开机广播 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> <!-- 网络状态改变广播 -->
                <category android:name="com.woman.RCTest" />
            </intent-filter>
        </receiver>

        <!-- 图片选择Activity -->
        <!-- //去掉Activity的ActionBar。 -->
        <!-- //使用者可以根据自己的项目去配置，不一定要这样写，只要不Activity的ActionBar去掉就可以了。 -->
        <!-- //横竖屏切换处理。 -->
        <!-- //如果要支持横竖屏切换，一定要加上这句，否则在切换横竖屏的时候会发生异常。 -->
        <activity
            android:name=".imageSelect.view.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- //图片预览Activity -->
        <activity
            android:name=".imageSelect.view.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.my.personalinformation.MassifInformationListActivity" />
        <activity android:name=".activity.my.personalinformation.NewPlotInformationActivity"></activity>
    </application>

</manifest>