<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lianghuawang.cottonfarmer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".activity.HomePageActivity" />-->
        <activity android:name=".AdvertisingPageActivity" />
        <activity android:name=".activity.my.SetUpActivity" />
        <activity android:name=".activity.bankcard.BankCardActivity" />
        <activity android:name=".activity.my.TheBooksActivity" />
        <activity android:name=".activity.my.InsuranceActivity" />
        <activity android:name=".activity.my.ClaimCompensationActivity" />
        <activity android:name=".activity.my.LoanActivity" />
        <activity android:name=".module.login.LoginActivity" />
        <activity android:name=".activity.home.insurance.BuyInsuranceActivity" />
        <activity android:name=".activity.home.insurance.InsuranceParticularsActivity" />
        <activity
            android:name=".activity.home.insurance.SignatureActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.home.insurance.InsuranceOrderActivity" />
        <activity android:name=".activity.IWantToBorrowMoneyActivity" />
        <activity android:name=".activity.OrderAgriculturalCapitalActivity" />
        <activity android:name=".activity.CottonTradeActivity" />
        <activity android:name=".activity.CooperativeOrganizationActivity" />
        <activity android:name=".activity.my.MyCreditActivity" />
        <activity android:name=".activity.mycredit.CreditIntroductionActivity" />
        <activity android:name=".module.register.RegisterActivity" />
        <activity android:name=".activity.ReceivingAddressActivity" />
        <activity android:name=".activity.PaymentPasswordSettingsActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.mycredit.PromotionOfCreditActivity" />
        <activity android:name=".activity.mycredit.activity.AuthenticationActivity" />
        <activity android:name=".activity.mycredit.activity.BankCardBindingActivity" />
        <activity android:name=".activity.personalinformation.PersonalInformationActivity" />
        <activity android:name=".activity.personalinformation.activity.EssentialInformationActivity" />
        <activity android:name=".activity.personalinformation.activity.PlantingInformationActivity" />
        <activity android:name=".activity.personalinformation.activity.ProofOfOwnershipActivity" />
        <activity android:name=".activity.personalinformation.activity.InsurancePurchaseRecordActivity" />
        <activity android:name=".activity.ReservationProgressActivity" />
        <activity android:name=".activity.ApplyForALoanActivity" />
    </application>

</manifest>